$border: 1px solid #ebedf0;
.demo-wrapper {
  margin: 24px 64px 30px 0;
  border: $border;
  border-radius: 2px;
.example {
  position: relative;
  padding: 10px 20px;
}
  .demo-code {
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-top: $border;
    color: #fff;
    &.code-show {
      border-bottom: $border;
    }
    .code-title {
      float: left;
      padding-left: 20px;
      color: rgba(0,0,0,0.45);
    }
    > .rainbow-icon {
      cursor: pointer;
      fill: rgba(0,0,0,0.45);
    }
  }
}
