.demo-title {
  .title {
    color: #0d1a26;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 30px;
    font-size: 30px;
    font-variant: tabular-nums;
  }
  .describe {
    margin: 1em 0;
    color: #314659;
    font-size: 14px;
  }
}
